<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/185266b104.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div class="nav-link">@Html.ActionLink("Index", "About", "Home")</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">@Html.ActionLink("Praktisch", "About", "Home")</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">@Html.ActionLink("Veelgestelde vragen", "Contact", "Home")</div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" id="footer-1_4">
                        <img src=" /Images/image.png" /> <br />
                        <div class="footer-icons">
                        <i class="fab fa-instagram fa-lg circle-icon"></i>
                        <i class="fab fa-facebook fa-lg circle-icon"></i>
                        <i class="fab fa-twitter fa-lg circle-icon"></i>
                        <i class="fab fa-youtube fa-lg circle-icon"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h1 class="footer-header">Adres</h1>
                        <label class="footer-content">Stationsweg 166A</label><br />
                        <label class="footer-content">2161 AM Lisse</label><br />
                        <h2 class="footer-header">Openingstijden</h2>
                        <label class="footer-content">21 maart - 10 mei 2020, </label><br />
                        <label class="footer-content">9:00-17:00u</label><br />
                    </div>
                    <div class="col-md-3">
                        <div class="footer-ql">
                            <div class="row">
                                <div class="col-sm-10">
                                    <a href="insert_quick_link">Het Park</a>
                                </div>
                                <div class="col-sm-2">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="footer-ql">
                            <div class="row">
                                <div class="col-sm-10">
                                    <a href="insert_quick_link">Praktisch</a>
                                </div>
                                <div class="col-sm-2">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="footer-ql">
                            <div class="row">
                                <div class="col-sm-10">
                                    <a href="insert_quick_link">Groepen</a>
                                </div>
                                <div class="col-sm-2">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="footer-ql">
                            <div class="row">
                                <div class="col-sm-10">
                                    <a href="insert_quick_link">Pers</a>
                                </div>
                                <div class="col-sm-2">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="footer-hl">
                            <h1 class="footer-header">Meer handige links</h1>
                            <i class="fas fa-chevron-right fa-fw"></i><a href="insert_quick_link">Beschikbaarheid</a><br />
                            <i class="fas fa-chevron-right fa-fw"></i><a href="insert_quick_link">Evenementen</a><br />
                            <i class="fas fa-chevron-right fa-fw"></i><a href="insert_quick_link">Veelgestelde vragen</a><br />
                            <i class="fas fa-chevron-right fa-fw"></i><a href="insert_quick_link">Contact</a><br />
                            <i class="fas fa-chevron-right fa-fw"></i><a href="insert_quick_link">Privacy statement</a><br />
                        </div>
                    </div>
            </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
