<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/185266b104.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Keukenhof", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Het park", "Index", "Home")</li>
                    <li>@Html.ActionLink("Praktisch", "About", "Home")</li>
                    <li>@Html.ActionLink("Veelgestelde vragen", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" id="footer-1_4">
                        <img src=" /Images/image.png" /> <br />
                        <div class="footer-icons">
                        <i class="fab fa-instagram fa-lg circle-icon"></i>
                        <i class="fab fa-facebook fa-lg circle-icon"></i>
                        <i class="fab fa-twitter fa-lg circle-icon"></i>
                        <i class="fab fa-youtube fa-lg circle-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h1 class="footer-header">Adres</h1>
                        <label class="footer-content">Stationsweg 166A</label><br />
                        <label class="footer-content">2161 AM Lisse</label><br />
                        <h2 class="footer-header">Openingstijden</h2>
                        <label class="footer-content">21 maart - 10 mei 2020, </label><br />
                        <label class="footer-content">9:00-17:00u</label><br />
                    </div>
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
